Repository secureCodeBox/engine, pull requests merged in 2020-03, with the labels that each got.

#138 Update securityTest if already existing instead of throwing an Exception
  scb-persistenceproviders/elasticsearch-persistenceprovider/src/main/java/io/securecodebox/persistence/elasticsearch/DuplicateUuidException.java
  scb-persistenceproviders/elasticsearch-persistenceprovider/src/main/java/io/securecodebox/persistence/elasticsearch/ElasticSearchPersistenceProvider.java
Labels: elasticsearch

#153 Feature/findings metadata extension
  .vscode/settings.json
  scb-sdk/src/main/java/io/securecodebox/metadata/MetadataProvider.java
  scb-sdk/src/main/java/io/securecodebox/scanprocess/delegate/SummaryGeneratorDelegate.java
Labels: enhancement

#155 Fix Daily Summary Dashboard visualizations
  scb-persistenceproviders/elasticsearch-persistenceprovider/src/main/resources/kibana-imports.json
Labels: bug, elasticsearch

#147 nmap-nikto: Blackboxtest all HTTP(s) services, optional list with ports to scan by nikto
  scb-scanprocesses/combined-nmap-nikto-process/pom.xml
  scb-scanprocesses/combined-nmap-nikto-process/src/main/java/io/securecodebox/scanprocess/listener/NmapToNiktoTransformListener.java
  scb-scanprocesses/combined-nmap-nikto-process/src/main/resources/forms/configure-nmap-nikto-target.html
  scb-scanprocesses/combined-nmap-nikto-process/src/test/java/io/securecodebox/scanprocess/listener/NmapToNiktoTransformListenerTest.java
Labels: bug, enhancement
